<div>
<% @insights.each do |insight| %>
  <div class="insight_block">
    <div>
      <% insight.tag_list.map! {|x| x.split(',')}.flatten! %>
      <div class="insight"><%= insight.body %></div>
      <% insight.tag_list.each do |tag| %>
        <div style="display: inline" class="tag"><%= tag %></div>
      <% end %>
      <br>
      <div class="small">Submitted by <%= insight.user.username %></div>
    </div>
    <div class="field">
      <%= form_for insight do |f| %>
        <%= f.submit "Add tags" %>
        <%= f.text_field :tag_list, placeholder: "Add tags (separated by commas)", value: "" %>
      <% end %>
    </div>
  </div>
<% end %>
</div>
