Welcome to Insights
<div>
<ul>
<% @insights.each do |insight| %>
  <li>
    <div>
      <%= insight.body %>
      <div>
      <%= insight.tag_list %>
      </div>
      <div>
      Submitted by <%= insight.user.username %>
      </div>
    </div>
    <div class="field">
      <%= form_for insight do |f| %>
    <div>
      <%= f.label :tag_list, "Add tags (separated by commas)" %><br />
      <%= f.text_field :tag_list, placeholder: "", value: "" %>
      <%= f.submit "Add tags" %>
    </div>
      <% end %>
    </div>
</div>
  </li>
<% end %>
</ul>

</div>
