<ul>
<% @insights.each do |insight| %>
  <li>
    <div><%= insight.body %></div>
    <div>
      <%= form_for [insight, @tag] do |f| %>
        <div>
          <%= f.label :name %>
          <%= f.text_area :name %>
        </div>
        <div>
          <%= f.submit "Submit a tag" %>
        </div>
      <% end %>
    </div>


  </li>
<% end %>
</ul>


