<div>
<% @insights.each do |insight| %>
  <div class="insight_block">
    <div>
      <% insight.tag_list.map! {|x| x.split(',')}.flatten! %>
      <div class="insight"><%= insight.body %></div>
        <div style="display: inline" class="tag"><%= insight.tag_list.join(', ') %></div>
      <div class="small">Submitted by <%= insight.user.username %>
      <% if (Time.now - insight.created_at) <= 60 %>
        <%= (Time.now - insight.created_at) %> seconds ago </div>
      <% elsif (Time.now - insight.created_at) > 60 &&  (Time.now - insight.created_at) <= 3600 %>
        <%= ((Time.now - insight.created_at)/60).round(0) %> minute(s) ago</div>
      <% elsif (Time.now - insight.created_at) > 3600 && (Time.now - insight.created_at) <= 86400 %>
        <%= ((Time.now - insight.created_at)/3600).round(0) %> hour(s) ago</div>
      <% elsif (Time.now - insight.created_at) > 86400 %>
        <%= ((Time.now - insight.created_at)/86400).round(0) %> day(s) ago</div>
      <% end %>
    </div>

    <div class="field">
      <%= form_for insight do |f| %>
        <%= f.text_field :tag_list, placeholder: "Add tags (separated by commas)", value: "" %><%= f.submit "Add tags" %>
      <% end %>
    </div>
  </div>
<% end %>
</div>
