<!DOCTYPE html>
<html>
<head>
  <title>Insights</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
  <ul>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
    </li>
    <li>
      <%= link_to 'Submit Insight', new_insight_path %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path) %>
    </li>
  <% end %>
    <li><%= link_to 'See all insights', insights_path %></li>
  </ul>
</div>
<%= flash[:notice] %>
<%= yield %>

</body>
</html>



